# Dependencies
node_modules/
# package-lock.json  ← 已注释，允许推送到 GitHub

# Production build
build/
dist/

# Testing
coverage/

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.log
