<div class="hot-brand-section">
    <h2>熱門品牌</h2>
    <div class="hot-brand-grid">
        <div class="brand-item">
            <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1599794188829527609.png&w=1920&q=100" alt="Brand 1">
            <span>Apple</span>
        </div>
        <div class="brand-item">
            <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1600397032282555468.png&w=1920&q=100" alt="Brand 2">
            <span>Samsung</span>
        </div>
        <div class="brand-item">
            <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1679939925027173654.jpg&w=1920&q=100" alt="Brand 3">
            <span>SONY</span>
        </div>
        <div class="brand-item">
            <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1596057275392066191.png&w=1920&q=100" alt="Brand 4">
            <span>LG</span>
        </div>
        <div class="brand-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Xiaomi_logo_%282021-%29.svg" alt="Brand 5">
            <span>XiaoMI</span>
        </div>
        <div class="brand-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Vivo_Logo.svg" alt="Brand 6">
            <span>Vivo</span>
        </div>
        <div class="brand-item">
            <img src="https://api.fortress.com.hk/medias/ASUS-LOGO.jpg?context=bWFzdGVyfHJvb3R8MzczMjl8aW1hZ2UvanBlZ3xhR0kwTDJobE55OHhNREUzTlRRM05UVTRNRGsxT0M1cWNHY3w4OGM5ZjBjMjAzZTU3MTQ2MGE1NGU4NTVjNzdjOTc5YWZjMzdhZWMwY2JiZGFmZmViNmNkZGRiZTFlNTBlOWE2" alt="Brand 7">
            <span>ASUS</span>
        </div>
        <div class="brand-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlab3jXvHa6EVBfhNYIKWCvUjezA42WofOBA&s" alt="Brand 8">
            <span>HUAWEI</span>
        </div>
    </div>
</div>