<div class="hot-brand-section">
    <h2>熱門品牌</h2>
    <div class="hot-brand-grid">
        <a class="brand-link" href="brandproductlist.html?brand=Apple">
            <div class="brand-card">
                <div class="brand-bg">
                    <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1599794188829527609.png&w=1920&q=100" alt="Apple" class="brand-logo">
                </div>
            </div>
        </a>

        <div class="brand-card">
            <div class="brand-bg">
                <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1600397032282555468.png&w=1920&q=100" alt="Brand 2" class="brand-logo">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-bg">
                <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1679939925027173654.jpg&w=1920&q=100" alt="Brand 3" class="brand-logo">
            </div>
        </div>
        
        <div class="brand-card">
            <div class="brand-bg">
                <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1596057275392066191.png&w=1920&q=100" alt="Brand 4" class="brand-logo">
            </div>
        </div>
        
        <div class="brand-card">
            <div class="brand-bg">
                <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1600399273753285044.png&w=1920&q=100" alt="Brand 4" class="brand-logo">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-bg">
                <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1679939992812144783.jpg&w=1920&q=100" alt="Brand 4" class="brand-logo">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-bg">
                <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1528343120978247991.png&w=1920&q=100" alt="Brand 4" class="brand-logo">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-bg">
                <img src="https://www.yohohongkong.com/_next/image?url=https%3A%2F%2Fwww1.yohohongkong.com%2Fdata%2Fbrandlogo%2F1679430779116334068.jpg&w=1920&q=100" alt="Brand 4" class="brand-logo">
            </div>
        </div>
    </div>
</div>