<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <img src="https://www.wilsoncomm.com.hk/image/catalog/%E4%B8%BB%E9%A0%81%E5%A4%A7Banner/Sep2025/Apple-Homebanner-2025-03.jpg" alt="iPhone17ProMax">
            <div class="slide-content">
                <h2>iPhone 17系列預訂</h2>
                <p>預訂更有驚喜回贈</p>
                <button class="slide-btn">立即預訂</button>
            </div>
        </div>
        <div class="slide">
            <img src="assets/slider_banner_1.jpg" alt="Panasonic 限時優惠">
            <div class="slide-content">
                <h2>AlipayHK消費優惠</h2>
                <button class="slide-btn">了解詳情</button>
            </div>
        </div>
        <!-- 可以繼續添加更多 slide -->

        <div class="slide">
            <img src="https://www.wilsoncomm.com.hk/image/catalog/BAnk%20PAge/HSBC_Sep/others/Homebanner_HSBC-02.jpg" alt="Panasonic 限時優惠">
            <div class="slide-content">
                <h2>HUAWEI限時優惠</h2>
                <p>限時優惠價 HK$6,688</p>
                <h3>原價 HK$7,688</h3>
                <button class="slide-btn">立即選購</button>
            </div>
        </div>
    </div>
    <button class="slider-btn prev">&#10094;</button>
    <button class="slider-btn next">&#10095;</button>
</div>